@charset "utf-8";

.error {
	color: red;
}

.hide {
	visibility: hidden;
}

.clickable_tr:hover {
	background-color: rgb(223, 255, 255);
	cursor: pointer;
}

.revature_orange {
	color: rgb(242, 105, 37) !important;
}